/* Global
----------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

/* Header
----------------------------------- */
h1 {
  text-align: center;
  align-items: center;
}

/* Button Lists
----------------------------------- */
#menuBar {
  display: flex;
  justify-content: flex-start;
}

.button-list {
  margin-left: 10px;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
  margin-bottom: 15px;
}

.item img {
  width: 70px;
  height: 70px;
  border: 5px solid #000;
  border-radius: 5px;
  padding: 8px;
}

.item:hover {
  transform: scale(1.1);
}

/* .item:active {
  background-color: rgb(248, 240, 163);
} */

.item-active {
  background-color: rgb(194, 248, 163) !important;
}

/* Pickr
----------------------------------- */
#pickr {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-bottom: 10px;
}

.stroke,
.fill {
  border: 5px solid #000;
  border-radius: 6px;
  width: 154px;
  padding: 5px;
  text-align: center;
}

#pickr h4 {
  font-size: 1rem;
}

.stroke {
  margin-right: 5px;
}

/* Range slider
----------------------------------- */
#rangeslider {
  display: flex;
}

#rangecontainer {
  border: 5px solid #000;
  border-radius: 5px;
  width: 152px;
  margin-top: 10px;
  margin-left: 10px;
  /* height: 30vh; */
  height: 227px;
  text-align: center;
}

.slidecontainer {
  align-items: center;
  justify-content: center;
}

label {
  padding: 5px;
}

/* Canvas
----------------------------------- */
#canvas-container {
  margin: 10px 0px 0px 10px;
  padding: 0px;
  justify-content: start;
}

.canvas {
  position: absolute;
}

#canvas-real {
  border: 5px solid transparent;
}

#canvas-draft {
  background-color: transparent;
  border: 5px solid #000;
  border-radius: 5px;
}

/* Below bg color for checking transparent eraser */
/* #canvas-real {
  background-color: cornsilk;
} */
